{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}操作错误{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/dist/js/jquery-3.3.1.min.js" ></script>
    <script type="text/javascript" src="/static/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/yu.js"></script>

{% endblock %}

{% block content %}

<div class="microoh-main" style="height: 150px">
    <div class="container" style="position: absolute; top: 120px; left: 120px;">
        <div style="height: 150px">
            <i class="v5-icon v5-icon-wrong"></i>
            <span class="nav-font">{{ reason | safe }}</span>

        </div>
    </div>
</div>


{% endblock %}