/*.content{*/
    /*width: 80%;*/
    /*float: left;*/
    /*background-color: pink;*/
/*}*/
/*.content div{*/
    /*display: none;*/
/*}*/
/*.sideBar{*/
    /*width: 20%;*/
    /*float: left;*/
/*}*/
/*.content div.selected{*/
    /*display: block;*/
/*}*/

.navbar{
  float: none;
  text-align:center;
}

.nav-font{
    font-size: x-large;
    text-align: center;
    line-height: 20px;
    font-family: "楷体";
}

