<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/static/dist/js/jquery-3.3.1.min.js" ></script>
    <script type="text/javascript" src="/static/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/dist/css/bootstrap.min.css">

    <script type="text/javascript" src="/static/js/yu.js"></script>
    <link rel="stylesheet" href="/static/css/yu.css">

    <title>Document</title>

</head>
<body>

<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid navbar-collapse">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">mybbs</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">主页</a></li>
                <li><a href="#">热点</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        主题
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">鹰眼</a></li>
                        <li><a href="#">搜索</a></li>
                        <li><a href="#">监控</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">另一个分离的链接</a></li>
                    </ul>

                </li>
            </ul>

        </div>

        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="输入要查找的内容">
            </div>
            <button type="submit" class="btn btn-default">提交</button>
        </form>
    </div>
</nav>


    <div class="sideBar navbar navbar-default" role="navigation">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active">
                <a href="#">房源列表</a>
            </li>
            <li role="presentation">
                <a href="#">我的申请</a>
            </li>
            <li role="presentation">
                <a href="#">密码修改</a>
            </li>
        </ul>
    </div>

    <div class="content">
        <div class="content1 selected">第一段文本</div>
        <div class="content1">第二段文本</div>
        <div class="content1">第三短文本</div>
    </div>

</body>
</html>